<!--顶部-->
<div id="globalheader">
    <div class="containerIndex" style="width: 1200px;">
        <a id="logo" href="../"> <img src="/static/images/7b925679ac7018405216e357e65a8f04.jpg"> </a>
        <div id="globalnav">
            <ul>
                <li><a href="../" title="首页">首页</a></li>
                <li id="product"><a href="/product">产品中心</a></li>
                <li><a href="https://www.baidu.com/">荣誉资质</a></li>
                <li><a href="/index">关于养森</a></li>
                <li><a href="/news">新闻动态</a></li>
                <li><a href="/reback">留言反馈</a></li>
                <li><a href="/contact">联系我们</a></li>
            </ul>
            <span class="switch"> <a title="切換到繁體" name="StranLink" id="StranLink" href="#">繁體</a> / <a id="globalweb" href="#">English</a> </span>
        </div>
    </div>
    <div id="subnav">
        <ul>
            <li><a href="/index.php?catid=335"><img src="/static/images/1.jpg"><p>口腔产品</p></a></li>
            <li><a href="/index.php?catid=336"><img src="/static/images/2.jpg"><p>健康饮品</p></a></li>
            <li><a href="/index.php?catid=333"><img src="/static/images/3.jpg"><p>保健品</p></a></li>
            <li><a href="/index.php?catid=334"><img src="/static/images/4.jpg"><p>化妆品</p></a></li>
        </ul>
    </div>
</div>